 <nav class="navbar navbar-expand-lg navbar-expand-md sticky-top border-bottom bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><img src="/img/clg_logo.jpeg" class="img-fluid clg-logo" alt="logo"></a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " aria-current="page" href="#"><b>HOME</b></a>
              <a class="nav-link" href="#"><b>CONTACT US</b></a>
              
            </div>
          </div>
        </div>
      </nav>
    

