<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Student Data from Excel</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <form id="uploadExcelForm" enctype="multipart/form-data" method="post">
    <input type="file" id="uploadfile" name="uploadfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    <button type="button" id="uploadBtn">Upload Excel</button>
  </form>
  <div id="successMessage" style="display:none; color: green; margin-top: 20px;">
    Data successfully saved to the database!
  </div>
  <div id="errorMessage" style="display:none; color: red; margin-top: 20px;">
    Something went wrong while saving data. Please try again.
  </div>

  <script>
    $(document).ready(function () {
      $('#uploadBtn').on('click', function () {
        const formData = new FormData($('#uploadExcelForm')[0]);
        $.ajax({
          url: '/uploadExcelFile',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function (response) {
            $('#successMessage').show();
            $('#errorMessage').hide();
          },
          error: function () {
            $('#errorMessage').show();
            $('#successMessage').hide();
          }
        });
      });
    });
  </script>
</body>
</html>
