<% layout('/layouts/boilerplate.ejs') -%>
<body>

 
  <div class="home-container">
    <div class="options-home-container">
      <div class="mb-2">
        <a class="btn btn-danger" href="/home/studentLogin">STUDENT/MENTEE</a><br />
      </div>

      <div class="mb-2">
        <a class="btn btn-danger" href="/home/teacherLogin">TEACHER/MENTOR</a><br />
      </div>
      <div><a class="btn btn-danger" href="/home/adminLogin">ADMINISTRATOR</a></div>
    </div>
  </div>


</body>
