body{
    min-height: 100vh;
    /* background-color: brown; */
   
    
}

/* .container{
    background-image: url("../img/college_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
   
    


    

} */


/* Navabar */

.clg-logo{
    height: 4rem;
    width: 4rem;
    /* border-radius: 50%;
    object-fit: cover; */
}

/* Navbar ends */

/* Home Elemets */
.container{
   flex: 1;
   height: 90vh;  
   /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    /* background-color: yellow; */
    
   
}
.options-home-container{
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: blue; */
    
    
}

.options-home-container div{
    height: 30%;
    width: 90%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(190, 100, 115);
    border-radius: 1rem;
    
   

}

.options-home-container div a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        font-size: 2.8dvw;
        color: white;
        text-decoration: none;
        border-radius: 1rem;

}

/* Home Elements End */

/* Footer */


.footer{
    background-color: gainsboro;
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    
}

/* Footer End */


/* Chekc */
